.modal {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #646464;
  border-radius: 14px;
  margin: auto;
  padding: 40px 10px;
  min-width: 290px;
}

.modal__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  max-width: 224px;
  margin: 0 auto 30px;
}

.callback__label {
  position: relative;
  display: block;
}

.callback__label:not(:last-child) {
  margin-bottom: 20px;
}

.callback__label_text {
  position: absolute;
  left: 15px;
  top: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  z-index: 2;
}

.callback__input {
  width: 100%;
  height: 74px;
  border: 1px solid #AFAFAF;
  border-radius: 6px;
  padding: 0 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  color: #AFAFAF;
  opacity: 0.7;
}

.callback__group:not(:last-child) {
  margin-bottom: 40px;
}

.connect__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.connect__label {
  display: block;
}

.connect__label:not(:last-child) {
  margin-bottom: 15px;
}

.callback__button {
  display: block;
  margin: 0 auto;
  padding: 16px 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #E87C40;
  border-radius: 4px;
}

.connect__radio {
  margin-right: 15px;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 22px;
  width: 22px;
}

@media (min-width: 768px) {
  .modal {
    padding: 70px 85px 82px 85px;
    min-width: 760px;
    min-height: 810px;
  }

  .modal__title {
    font-size: 18px;
    max-width: 490px;
    margin-bottom: 52px;
  }

  .callback__label_text {
    left: 16px;
    top: 12px;
    font-size: 16px;
  }

  .callback__input {
    width: 100%;
    height: 99px;
    border: 1px solid #AFAFAF;
    border-radius: 12px;
    padding: 0 78px 0 16px;
    font-size: 16px;
  }

  .callback__group:not(:last-child) {
    margin-bottom: 50px;
  }

  .connect__title {
    font-size: 18px;
    margin-bottom: 52px;
  }

  .connect__radio {
    margin-right: 65px;
  }

  .modal__close {
    top: 30px;
    right: 30px;
  }

  .callback__button {
    margin-right: 0px;
    padding: 24px 82px;
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .modal {
    padding: 70px 99px 82px 131px;
    min-width: 1010px;
    min-height: 810px;
  }

  .modal__title {
    font-size: 20px;
    max-width: 490px;
    margin-bottom: 50px;
  }

  .callback__label_text {
    left: 15px;
    top: 11px;
  }

  .callback__input {
    width: 100%;
    height: 99px;
    border: 1px solid #AFAFAF;
    border-radius: 12px;
    padding: 0 100px 0 15px;
  }

  .connect__title {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .callback__button {
    margin-right: 0px;
    padding: 24px 82px;
    font-size: 18px;
  }
}