.portfolio__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.card {
  box-sizing: border-box;
  background-color: #FDFDFE;
  max-width: 252px;
  flex-direction: column;
  padding: 20px 14px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.card__picture {
  margin: 0 auto;
  width: 155px;
  height: 92px;
  margin-bottom: 30px;
}

.card__data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.card__client {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}

.card__date {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
}

.card__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

.portfolio__slider {
  position: relative;
  max-width: 290px;
  margin: 0 auto;
}

.portfolio__arrow {
  display: block;
  position: absolute;
  top: 50%;
  width: 26px;
  height: 26px;
  background-image: url(../img/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio__arrow_left {
  left: 0;
}

.portfolio__arrow_right {
  right: 0;
  transform: rotate(180deg);
}